$width-calculadora: 300px;
$width-numeros-container: 250px;
$width-menu-direita-container: 50px;

$height-calculadora: 300px;
$height-visor: 40px;
$height-botao: 50px;
.calculadora-container {
  width: $width-calculadora;
  height: $height-calculadora;
  padding: 5px;
  background-color: rgb(41, 34, 34);
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
}

.calculadora-visor {
  width: 100%;
  height: $height-visor;
}
.menu-direita-container {
  width: calc(#{$width-calculadora} - #{$width-numeros-container});
  height: 250px; // 5 * height btn
  background-color: green; // apenas pra debugar
}
.btn-menu-direita {
  height: $height-botao;
  width: calc(#{$width-calculadora} - #{$width-numeros-container});
  background-color: orange;
  border: 1px solid black;
  text-decoration: none;
  text-align: center;
}
.numeros-container {
  width: $width-numeros-container;
  height: calc(#{$height-botao} * 4); // 4 botoes por coluna
  background-color: red; // apenas pra debugar
  display: flex;
  flex-flow: row wrap;
  align-content: flex-start;
  align-items: flex-start;
}
.btn-numero {
  width: calc(#{$width-numeros-container} / 3);
  height: $height-botao;
  background-color: white;
  border: 1px solid black;
  text-decoration: none;
  text-align: center;
}

.num-0 {
  flex-grow: 2;
}
